.top-container {
    background-color: #e4fbff;
    padding-top: 200px;
    
    position: relative; /* By setting position of top-container to relative we can do absolute positioning of the children of top-container wrt it */
    line-height: 2; /*Height difference in between 2 lines*/
}

.middle-container {
    margin: 100px, 0;    
}

.bottom-container {
    background-color: #66BFBF;
}

.intro {
    width: 50%;
    margin: 0 auto;
}

.vishwesh-image {
    padding-top: 50px;
    height: 260px;
}

.top-cloud {
    position: absolute; /* Absolute wrt its parent "top-container" */

    top: 75px;
    right: 300px;
}

.bottom-cloud {
    position: absolute; /* Absolute wrt its parent "top-container" */
    bottom: 275px;
    left: 300px;
}

.contact-msg {
    width: 25%;
    margin: auto;
}

.pro {
    text-decoration: underline;
}

.skill-img1 {
    width: 20%;
    float: left;
    padding-right: 30px;
}

.skill-img2 {
    width: 20%;
    float: right;
    padding-left: 30px;
}

.logo {
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.programmer {
    margin-top: 0;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto; /* To center */
    text-align: left;
    line-height: 2;
}

.contact-me {
    line-height: 2;
}

.profile {
    width: 50%;
    margin: 50px auto 50px auto;
}

.copyright-name-surname {
    color: #EAF6F6;
    margin: 0;
}

.footer-link {
    margin: 50px;
}

.btn {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #1E62D0);
    background-image: -moz-linear-gradient(top, #66BFBF, #1E62D0);
    background-image: -ms-linear-gradient(top, #66BFBF, #1E62D0);
    background-image: -o-linear-gradient(top, #66BFBF, #1E62D0);
    background-image: -webkit-gradient(to bottom, #66BFBF, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 100;
    padding: 5px;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;

    margin: 20px;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

body {
    margin: 0px; /* We don't want margin with the body */
    text-align: center; /* Centers all inline-block elements and full-width block elements */
    font-family: 'Merriweather Sans', sans-serif;
    color: #40514E;
}

h1 {
    /* Setting top and bottom margin for <h1> as 0 */
    margin-block-end: 0;
    margin-block-start: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem; /*90px*/
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

hr {
    border-style: none;
    border-top: dotted;
    border-width: 6px;
    width: 5%;
    border-color: gray;
}

p {
    line-height: 2;
}

a { /* Style Hyperlinks */
    text-decoration: none;
}

a:hover {
    color: #132c33;
}
